@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    box-sizing: border-box;
}

.App {
    text-align: center;
    color: white;
    font-family: 'Silkscreen', cursive;
}

button {
    font-family: 'Silkscreen', cursive;
}

a {
    color: white;
    
}

body {
    overflow: hidden;
}

.overlay {
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
}

.moving-bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/background/parallax-bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}